@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;300;400;500;700&display=swap');

body, html {
  font-family: 'Albert Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
